beautifulsoup4
diskcache
extra-streamlit-components
humanize
logzero
numpy
newsapi-python
openai
openpyxl
pandas
plotly
pydantic
pypdfium2
readability-lxml
scipy
streamlit-authenticator
streamlit>1.23
tzdata
watchdog
